{
  "trailingComma": "none",
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc", "useTabs": true }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html", "useTabs": true}
    },
    {
      "files": "*.{apex,trigger,cls}",
      "options": { "useTabs": true, "tabWidth": 4}
    }
  ]
}
